@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
  color: black;
  font-family: 'Pixelify Sans', sans-serif;
  --light-mode-primary: #f5f7fa;
  --light-mode-secondary: #e8ecef;
  --light-mode-accent: #2563eb;
  --light-mode-text: #1f2a44;
  color: var(--light-mode-text);
}

body {
  background-color: var(--light-mode-primary);
  width: 100%;
  margin: 0;
}

/* .container {
  width: 100%;
} */

#logo {
  width: 130px;
  padding: 0px 5px;
}

.navbar {
  background-color: var(--light-mode-secondary);
  padding: 20px;
  width: 190px;
  height: 100vh;
  position: fixed;
}

.navbar ul {
  padding: 0;
}

.navbar ul li {
  list-style-type: none;
  padding: 10px 5px;
  font-size: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.navbar ul a {
  text-decoration: none;
  color: var(--light-mode-text);
}

.navbar ul li:hover {
  background-color: #4b536418;
}

.icon_l {
  width: 17px;
}

.icon_m {
  width: 15px;
}

.icon_s {
  width: 14px;
}
