@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
  color: black;
  font-family: 'Pixelify Sans', sans-serif;
  --light-mode-primary: #f5f7fa;
  --light-mode-secondary: #e8ecef;
  --light-mode-accent: #2563eb;
  --light-mode-text: #1f2a44;
  color: var(--light-mode-text);
}

body {
  background-color: var(--light-mode-primary);
  width: 100%;
  margin: 0;
}

/* .container {
  width: 100%;
} */

#logo {
  width: 150px;
  padding: 15px 5px;
}

.navbar {
  background-color: var(--light-mode-secondary);
  padding: 20px;
  width: 260px;
  height: 100vh;
  position: fixed;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  height: calc(96vh - 80px);
  justify-content: space-between;
}

.nav-list {
  padding: 0;
  margin: 0;
}

.navbar ul li,
.nav-more li {
  list-style-type: none;
  padding: 13px 5px;
  font-size: 1.4rem;
  border-radius: 5px;
  display: flex;
}

.navbar ul a,
.nav-more a {
  text-decoration: none;
  color: var(--light-mode-text);
}

.navbar ul li:hover,
.nav-more li:hover {
  background-color: #4b536418;
}

.icon_l {
  width: 23px;
}

.icon_m {
  width: 21px;
}

.icon_s {
  width: 20px;
}

.nav-more {
  margin-top: auto;
}
